img {
    width: 100%;
    height: 250px;
}

div {
    background-color: aquamarine;
    text-align: left;
}
/*etiqueta nombre*/
#nombre{
    text-align: center;
    font-weight: bold;
    margin-top: 40%;
    
}
#titulo{
    text-align: center;
}

@media (min-width: 576px) {
     #fotoperfil{
        position:absolute;
        width: 20%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 65%;
     }
    }
    @media (max-width: 575px) {
        #fotoperfil{
           position:absolute;
           width: 40%;
           border-radius: 100%;
           box-shadow: 3px 3px 3px grey;
           left: 30%;
           top: 60%;
        }
       }